---
layout: archive
---

{{ content }}

<h2>Recent Posts</h2>
{% for post in site.posts offset:1 limit:5 %}
{% include archive-single.html type=page.entries_layout %}
{% endfor %}

<h3>Browse posts by
    <a href="{{ site.url }}{{ site.baseurl }}/categories">categories</a>,
    <a href="{{ site.url }}{{ site.baseurl }}/tags">tags</a>,
    or by <a href="{{ site.url }}{{ site.baseurl }}/posts-by-year">year</a>
</h3>

<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
