---
layout: single
---

{{ content }}

{% if site.data.talks %}
    {% for talk in site.data.talks %}
        <h3>
            {% if talk.url_or_doi %}
                <em><a href="{{ talk.url_or_doi }}">{{ talk.title }}</a></em>
            {% else %}
                {{ talk.title }}
            {% endif %}
        </h3> 
        <p>{{ talk.where }}, {{ talk.date }}</p>
        <p>{{ talk.description }}</p>
        {% if talk.authors %}
            <p>{{ talk.authors }}</p>
        {% endif %}
        {% if talk.file %}
            <a href="{{ site.url }}{{ site.baseurl }}/downloads/{{ talk.file }}">Download file</a>
        {% endif %}
    {% endfor %}
{% endif %}
